<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Databasecontext</servlet-name>
        <servlet-class>ConnectDB.Databasecontext</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotPassword</servlet-name>
        <servlet-class>Controller.forgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>severlet.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Forgot</servlet-name>
        <servlet-class>severlet.Forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MentorControll</servlet-name>
        <servlet-class>Controller.ViewAllMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInController</servlet-name>
        <servlet-class>Controller.SignInController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutController</servlet-name>
        <servlet-class>Controller.SignOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSkill</servlet-name>
        <servlet-class>Controller.ViewSkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewFramework</servlet-name>
        <servlet-class>Controller.ViewFramework</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordControll</servlet-name>
        <servlet-class>Controller.ChangePasswordControll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUp</servlet-name>
        <servlet-class>Controller.SignUp</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Databasecontext</servlet-name>
        <url-pattern>/Databasecontext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotPassword</servlet-name>
        <url-pattern>/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Forgot</servlet-name>
        <url-pattern>/Forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MentorControll</servlet-name>
        <url-pattern>/MentorControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInController</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutController</servlet-name>
        <url-pattern>/signOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSkill</servlet-name>
        <url-pattern>/ViewSkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewFramework</servlet-name>
        <url-pattern>/ViewFramework</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordControll</servlet-name>
        <url-pattern>/ChangePasswordControll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUp</servlet-name>
        <url-pattern>/SignUp</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
